body{
  background-image: url("https://www.custom-wallpaper-printing.co.uk/custom/catalog/map/shutterstock_665429155-map.jpg");
  background-color: #cccccc;
}
#head {
	background-color: #7EA172;
	font-size: 26px;
}
p {
	font-size: 22px;
}
footer {
	margin-top: 400px;
}
table {
	margin: 0px 0px ;
	padding: 30px 30px;
	background-color: #E8F66E;
}